@model EinzahlungAddViewModel
@addTagHelper *, Haushaltsbuch.UI.Web

@{
    ViewData[index: "Title"] = "Neue Einzahlung";
}

<h1>Neue Einzahlung</h1>
<label>Haushaltsbuch:</label>
<a href="@Url.Action(
             action: "Detail",
             controller: "Haushaltsbuch",
             values: new
             {
                 haushaltsbuchId = Model.HaushaltsbuchId
             })" class="btn-link">
    @Model.HaushaltsbuchName
</a>

<div class="mb-2"></div>

<form asp-action="Save">
    @Html.HiddenFor(expression: m => m.HaushaltsbuchId)

    <div class="container">
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="betrag">Betrag</label>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(expression: m => m.Betrag, htmlAttributes: new
                        {
                            type = "number",
                            @class = "form-control",
                            placeholder = "Betrag",
                            aria_label = "Betrag",
                            aria_describedby = "basic-addon2"
                        })
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2"><currency currency-name="@Model.WährungName" fallback-symbol="@Model.WährungSymbol"></currency></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="einzahlungsdatum">Einzahlungsdatum</label>
                    @Html.TextBoxFor(expression: m => m.Einzahlungdatum, htmlAttributes: new
                    {
                        type = "date",
                        @class = "form-control",
                        id = "einzahlungsdatum"
                    })
                </div>
            </div>
        </div>

        <div class="form-row">
            <button type="submit" class="btn btn-primary">Hinzufügen</button>
            <a href="@Url.Action(
                         action: "Detail",
                         controller: "Haushaltsbuch",
                         values: new
                         {
                             haushaltsbuchId = Model.HaushaltsbuchId
                         })" class="btn btn-outline-danger ml-2">
                Zum Haushaltsbuch
            </a>
        </div>
    </div>
</form>
